.checkout-page {
  padding: 60px 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  font-family: "Helvetica Neue", sans-serif;
   color: black;
  


  @media (max-width: 768px) {
    flex-direction: column;
  }
 .back {
    padding: 8px;
    background-color:#ffc800;
    border-radius: 5px;
    font-weight: 600;
    font-family: "Cormorant Garamond", "Lora MT", Cormorant Garamond,
      "Trebuchet MS", sans-serif;
    color: black;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 0%;
     }
}

.checkout-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 300px;
   color: black;
}

.checkout-right {
  flex: 1;
  min-width: 300px;
  padding: 24px;
  border-radius: 12px;
  height: fit-content;
   color: black;
}
 