// OrderSummary.scss
@import "../style/variables";

.order-summary {
  max-width: 500px;
  margin: 3rem auto;
  background: white;
  padding: $padding;
  border-radius: $radius;
  border: 2px solid $color-accent;
  font-family: "Cormorant Garamond", "Lora MT", Cormorant Garamond,
    "Trebuchet MS", sans-serif;
  h2 {
    color: $color-primary;
    text-align: center;
    margin-bottom: 1rem;
    font-family: "Cormorant Garamond", "Lora MT", Cormorant Garamond,
      "Trebuchet MS", sans-serif;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;

    li {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;
    }
  }

  .total {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $color-accent;
    padding-top: 1rem;
    font-size: 1.2rem;
  }
}
